body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background: #1F2937;
    width: auto;
    height: auto;
    padding: 25px 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 24px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}


h2 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

.first {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: solid #3882F6;
    padding: 5px 25px;
}

.placeholder { 
    width: auto;
    height: 200px;  
}

h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    padding: 25px 100px;
    gap: 52px;
}

.nothing {
    width: 200px;
    height: auto;
    border-radius: 25px;
}

.item {
    max-width: 200px;
}

.subtext {
    font-size: 18px;
    color: #1F2937;
    text-align: center;
    padding-bottom: 30px;
}

.txtbox {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 25px 275px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
}

.source {
    color: #1F2937;
    align-self: flex-end;
}

.modal {
    background: #3882F6;
    margin: 65px 295px;
    padding: 35px 25px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.block {
    display: flex;
    width: 50%; 
    flex-direction: column;
}

.call,
.text {
    color: #F9FAF8;
}

.call {
    font-weight: bold;
    font-size: 18px;
}

.text {
    font-size: 14px;
}

.second {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    border: solid #F9FAF8;
    border-width: thin;
    padding: 0px 35px;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}